<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>

    <%- include('partials/header.ejs') %>

    <h1>Posts</h1>
    <h2>Veja alguns posts</h2>

    <%- include('partials/footer.ejs') %>
    <script src="/js/main.js"></script>
</body>
</html>